* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*:after {
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    min-width: 10rem;
    background: 0 0;
}

body {
    min-height: 100%;
    background: url(http://gw.alicdn.com/mt/TB1.sknLXXXXXbEXpXXXXXXXXXX-750-1333.png) no-repeat;
    background-size:cover;
}
.dragon-poplayer, .dragon-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 10rem; */
    /* height: 100%; */
    overflow: hidden;
}
.dragon-poplayer {
    background-color: rgba(255, 255, 255, .4);
}
.dragon-ready-play {
    z-index: 100;
}
.dragon-play {
    height: 10.946667rem;
    /* center 从中心平铺 */
    background: url(//gw.alicdn.com/mt/TB13eupLpXXXXaGXXXXXXXXXXXX-750-821.png) center no-repeat;
    background-size: 10rem 10.946667rem;
    z-index: 10;
}
